/* ---------- Buttons ---------- */

%btn{
  @extend %f-monument;
  @extend %f-b1;
  line-height: calc(150%);
  letter-spacing: 0.2rem;
  font-weight: 300;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-text-stroke: thin;
  width: fit-content;
  cursor: pointer;
  transition: ease-in-out .3s;
  padding: 1rem 1.5rem;

  &__primary{
      @extend %btn;
      color: $cBlack;
      background: $cWhite;
  }

  &__secondary{
      @extend %btn;
      color:  $cWhite;
      background: $cBlack;
  }

  &__outline{

      @extend %btn;
      color: $cWhite;
      border: solid 2px $cWhite;
      background: transparent;
      
      &2{
          @extend %btn;
          @extend %btn__outline;
          background: rgba(255, 255, 255, 0.20);
      }

      &3{
          @extend %btn;
          @extend %btn__outline;
          color: $cBlack;
          border: solid 2px $cBlack;
      }

      &:hover{
          background: $cWhite;
          color: $cBlack;

          transition: ease-in-out .5s;
          -webkit-text-stroke: 1px $cBlack;
      }

  }


}

/* ---------- Formulario ---------- */

%formulario__form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding: 0 1rem;
  
  .formulario__input{
      @extend %f-headline;
      color: $cWhite;
      
      display: block;
      width: 100%;
      min-height: 60px;
      padding: .75rem 1.2rem .5rem;
  
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 4px 30px rgba(0, 0, 0 , 0.10);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(5.8px);
      border: 2px solid rgba(255, 255, 255, 2);
  
      &::placeholder{
          color: $cWhite;
          opacity: .7;
      }

      &-file{
          @extend .formulario__input;

          padding: 1rem;
          height: 60px;

          align-self: center;
          position: relative;
      
          &::-webkit-file-upload-button {
              visibility: hidden;
          }
      
          &::before {
              content: 'Select files';
              position: absolute;
              top: -2px;
              border: 0;
              line-height: 3.6;
              height: 60px;
          
          }
  
      }

      &-textarea{
          @extend .formulario__input;
          padding: 0.6rem;
          min-height: 202px;

          &~.formulario__btn{
              width: 100%;
          }
      }
      


  }

  .formulario__btn{
      @extend %btn__outline2;
      width: 100%;
      margin-top: 2rem;

      @include respond(sm) {
          width: fit-content;
      }
  }

  @include respond(sm) {
      flex-direction: row;
  }



}
