
%f-montserrat{
    font-family: 'Montserrat', sans-serif;
}

%f-monument{
    font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
}


%f-bt1{
    font-size: clamp(2rem, 5vw, 4rem); /* 64px */
}
%f-bt2{
    font-size: clamp(2.5rem, 5vw, 3.5rem); /* 56px */
}
%f-h1{
    font-size: clamp(1.825rem, 5vw, 2.625rem); /* 42px */
}
%f-h2{
    font-size: clamp(1.625rem, 5vw, 2.25rem); /* 36px */
}
%f-t1{
    font-size: clamp(1.5rem, 4vw, 2rem); /* 32px */
}
%f-t2{
    font-size: clamp(1.225rem, 4vw, 1.5rem); /* 24px */
}
%f-hl1{
    font-size: 	clamp(1rem, 3.75vw, 1.3125rem); /* 21px */
}
%f-hl2{
    font-size: clamp(1rem, 3.75vw, 1.125rem); /* 18px */
}
%f-b1{
    font-size: 1rem; /* 16px */
}
%f-b2{
    font-size: 0.875rem; /* 14px */
}
%f-c{
    font-size: 0.75rem; /* 14px */
}


%f-title {
    @extend %f-monument;
    @extend %f-h1;
    font-weight: 500;
    
    line-height: calc(120%);
    letter-spacing: 0.1rem;
    color: $cBlack;
    margin-bottom: 2rem;
    text-align: center;
}

%f-subtitle {
    @extend %f-montserrat;
    @extend %f-t2;
    line-height: calc(130%);
    font-weight: 500;
    letter-spacing: normal;
    color: #1c1c1c;
    margin-bottom: 3rem;
    text-align: center;
}


%f-title2{
    @extend %f-monument;
    @extend %f-t1;
    line-height: calc(120%);
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: $cBlack;
    text-align: center;
}

%f-subtitle2{
    @extend %f-montserrat;
    @extend %f-hl1;
    line-height: calc(130%);
    font-weight: 500;
    letter-spacing: normal;
    color: #1c1c1c;
    text-align: center;

}

%f-h1eadline{
    @extend %f-monument;
    @extend %f-hl2;
    line-height: calc(140%);
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: $cBlack;
}


%f-body{
    @extend %f-montserrat;
    @extend %f-b1;
    line-height: calc(140%);
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: $cBlack;
}
