


@mixin flex($dir: row, $wrap: nowrap){
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin respond($breakpoint) {
  
  @if($breakpoint == sm)  {
    @media (min-width: 768px) { @content }
  };
  @if($breakpoint == md)  {
    @media (min-width: 1024px) { @content }
  };
  @if($breakpoint == lg)  {
    @media (min-width: 1280px) { @content }
  };
  @if($breakpoint == xl)  {
    @media (min-width: 1440px) { @content }
  }
}